* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 0.75rem;
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}





.nav {
    height: 70px;
    display: flex;
    padding: 22px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-img {
    max-width: 100px;
}





.hero-container {
    padding: 36px 26px;
    display: flex;
    flex-direction: column;
}

.hero-photos {
    max-width: 400px;
    align-self: center;
}

.hero-text-title {
    line-height: 39.6px;
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 16px;
}

.hero-text-desc {
    margin-top: 0;
    max-width: auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 17.6px;
    text-align: left;
}





.card-container {
    /* padding: 36px; */
    /* margin-left: 2.25rem; */
    width: 175px;
    font-size: 0.75rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-katie {
    display: block;
    width: 100%;
    border-radius: 9px;
}

.card-star-container {
    display: flex;
    align-items: center;
    margin: 0;
}

.card-star {
    height: 14px;
}

.card-star-rating {
    padding-left: 5px;
}

.card-star-text-light, .card-star-rating {
    font-size: 12px;
    font-weight: 300;
    line-height: 13.2px;
    text-align: left;
}

.card-price {
    margin-top: auto;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}


.app-cards {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}